* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    background-color: #212121;
}

body {
    background-color: 	#535353;
}

.wrapper {
    width: 80%;
    height: 8vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__element {
    margin-right: 15px;
}

.nav__link {
    text-decoration: none;
    color: 	#b3b3b3;
}